@media(max-width: 768px) {
    body {
        display: col;

    }
}





body {

    font-size: 20px;
    height: 100vh;
}

#ddeok {

    width: 350px;
    height: 300px;
    border: 10px solid rgb(255, 252, 252);
    border-style: inset;
    border-radius: 20px;
    margin-left: 20px;

}

#KFC {

    width: 350px;
    height: 300px;
    border: 10px solid rgb(255, 252, 252);
    border-style: inset;
    border-radius: 20px;
    margin-right: 20px;


}


section {

    height: 650px;
    margin: 2px 0px 0px 0px
}