body {

    font-size: 20px;
}

#ddeok {

    width: 350px;
    height: 300px;
    border: 10px solid rgb(255, 252, 252);
    border-style: inset;
    border-radius: 20px;
    margin-left: 20px;

}

#KFC {

    width: 350px;
    height: 300px;
    border: 10px solid rgb(255, 252, 252);
    border-style: inset;
    border-radius: 20px;
    margin-right: 20px;


}


section {

    height: 650px;

}